!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    %meta{"name" => "viewport", "content "=> "width=device-width,initial-scale=1.0"}
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - local_stylesheet_link_tag('local')
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    = haml :analytics, :layout => false
  %body{"data-spy" => "scroll", "data-target" => ".navbar", "data-offset" => "30",:class => @body_class }
    = haml :nav, :layout => false
    = haml :header, :layout => false
    #main-wrapper
      .container
        = yield
        = haml :home_footer, :layout => false
    = haml :js, :layout => false